.root{
    -fx-max-width: 100%;
    -fx-end-margin: auto;
    -fx-start-margin: auto;
    -fx-font-family: "Courier 10 Pitch";
}
#anchorpane{
    -fx-background-color: #1818be;
}
.label,
.radio-button
{
    -fx-text-fill: #ffffff;
    -fx-font-size: 18px;
}

#heading{
    -fx-font-size: 32px;
    -fx-font-weight: bold;
}
.text-field{
    -fx-vgap: 10px;
}
.button{
    -fx-background-color: white;
    -fx-text-fill: #1818be;
    -fx-font-size: 14px;
}